.page-header {
  color: #34393c;
  border-bottom: 1px solid #34393c;
  width: 20rem;
  margin: 0 auto;
  padding-bottom: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.borrowed-title {
  color: #34393c;
  margin: 0 auto;
  margin-bottom: 2rem;
}