.result {
  background: #e9ebec;
  color: #34393c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 70%;
}

.result-info {
  display: flex;
}

.info {
  text-align: left;
}

.info h3 {
  margin: 0;
}

.book-info {
  color: #34393cc9;
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 2.5rem;
}

.details {
  color: #34393cec;
  display: flex;
  gap: 3rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.details-title {
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.actions button {
  background-color: #34393c;
  padding: 0.7rem;
}

.actions button:disabled {
  background-color: #34393c56;
  color: #ffffff56;
  cursor: default;
}

.actions button.delete-button {
  background-color: rgb(206, 35, 35);
}

.actions button.delete-button:hover {
  background-color: rgb(206, 35, 35);
  color: #e9e9e9;
}

.actions button.delete-button:disabled {
  background-color: rgba(172, 54, 18, 0.26);
  color: #e9e9e9;
}
