.results {
    /* border: 1px solid blue; */
    width: 90%;
    max-width: 50rem;
    /* display: flex; */
    margin: 0 auto;
}

.results h2 {
    color: #34393c;
    border-bottom: 1px solid #34393c;
    width: 20rem;
    margin: 0 auto;
    padding-bottom: 1.4rem;
    margin-bottom: 5rem;
}